<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emoji Fun</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
</head>

<body>
    <br>
    <h3>{{add}}</h3>
    <h3>{{remove}}</h3>
    <br>
    <form action = "{{ url_for('addJoiner')}}" method = "POST" enctype = "multipart/form-data">
        <input type="text" name="addtext" placeholder="Emojis without space or any separator" required/>
        <button type="submit" value="crtsubmit" class="btn btn-primary btn-large">Create Emoji</button>
    </form>
    <br>
    <form action = "{{ url_for('removeJoiner')}}" method = "POST" enctype = "multipart/form-data">
        <input type="text" name="removetext" placeholder="Emoji to be broken down" required/>
        <button type="submit" value="remsubmit" class="btn btn-primary btn-large">Break Emoji</button>
    </form>

</body>
</html>